<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>CableAssurance</display-name>

	<!-- Listener, that does all the startup work (configuration, init). -->
	<listener>
		<listener-class>
			org.apache.axis.transport.http.AxisHTTPSessionListener
		</listener-class>
	</listener>

	<!-- Filters -->
	<filter>
		<filter-name>AppCheckFilter</filter-name>
		<filter-class>com.palmyrasyscorp.www.servlet.AppCheckFilter</filter-class>
	</filter>

	<!-- Servlets -->
	<servlet>
		<servlet-name>AxisServlet</servlet-name>
		<servlet-class>
			org.apache.axis.transport.http.AxisServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>
			org.apache.axis.transport.http.AdminServlet
		</servlet-class>
		<load-on-startup>100</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>Display Chart</servlet-name>
		<servlet-class>
			org.jfree.chart.servlet.DisplayChart
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>HomeServlet</servlet-name>
		<servlet-class>com.palmyrasyscorp.www.servlet.HomeServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AuthServlet</servlet-name>
		<servlet-class>com.palmyrasyscorp.www.servlet.AuthServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>CsrInputFormServlet</servlet-name>
		<servlet-class>com.palmyrasyscorp.www.servlet.CsrInputFormServlet</servlet-class>
	</servlet>

	<!-- Filter Mappings -->
	<filter-mapping>
		<filter-name>AppCheckFilter</filter-name>
		<url-pattern>/app/*</url-pattern>
	</filter-mapping>

	<!-- Servlet Mappings -->
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/caservlet/AxisServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/caservices/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/caservlet/AdminServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/caservlet/HomeServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AuthServlet</servlet-name>
		<url-pattern>/caservlet/AuthServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CsrInputFormServlet</servlet-name>
		<url-pattern>/caservlet/CsrInputFormServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Display Chart</servlet-name>
		<url-pattern>/caservlet/DisplayChart</url-pattern>
	</servlet-mapping>

	<session-config>
		<!-- Default to 5 minute session timeouts -->
		<session-timeout>5</session-timeout>
	</session-config>

	<!-- currently the W3C havent settled on a media type for WSDL;
		http://www.w3.org/TR/2003/WD-wsdl12-20030303/#ietf-draft
		for now we go with the basic 'it's XML' response -->
	<mime-mapping>
		<extension>wsdl</extension>
		<mime-type>text/xml</mime-type>
	</mime-mapping>

	<mime-mapping>
		<extension>xsd</extension>
		<mime-type>text/xml</mime-type>
	</mime-mapping>

	<!-- Welcome files -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Raw-JSP-Pages</web-resource-name>
			<!-- Add url-pattern for EACH raw JSP page -->
			<url-pattern>/welcome.jsp</url-pattern>
			<url-pattern>/main_page.jsp</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description>No roles, so no direct access</description>
		</auth-constraint>
	</security-constraint>

</web-app>
